<div class="container-big-card">
  <div class="big-card-picture"><img
      src="https://assetsio.reedpopcdn.com/iron-man_aJ1y3LP.jpg?width=1600&height=900&fit=crop&quality=100&format=png&enable=upscale&auto=webp"
      alt="" height="200px">
  </div>
  <div class="big-card-title">
    <h1>
      <a href="#">Saiu a nova versão do Angular</a>
    </h1>
  </div>
  <div class="big-card-description">
    <p>
      <a>Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Dicta, voluptatem maiores
        iste temporibus sequi mollitia voluptatem maiores
        iste temporibus sequi mollitiavoluptatem maiores
        iste temporibus sequi mollitia
      </a>
    </p>
  </div>
</div>